<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.choiceAnswerMapper">
    <select id="queryByStudent" resultType="com.example.demo.entity.answerChoice">
        select * from answer_choice where StudentNo=#{studentNo}
    </select>


</mapper>