<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.teacherMapper">
    <resultMap id="userResultMap" type="com.example.demo.entity.user">
        <id property="id" column="TeacherNo"/>
        <result property="password" column="TeacherPassword"/>
        <result property="userName" column="TeacherName"/>
        <result property="email" column="TeacherMail"/>
    </resultMap>
    <select id="queryAll" resultMap="userResultMap">
        select * from teacher
    </select>
    <select id="queryTeacherById" resultType="com.example.demo.entity.user">
        select * from teacher where TeacherNo=#{id}
    </select>
    <insert id="insertTeacher" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id"
            parameterType="com.example.demo.entity.user">
        insert into teacher(TeacherNo,TeacherPassword,TeacherName,TeacherMail) values (#{id},#{userName},#{password},#{email})
    </insert>
    <update id="updateTeacher"  parameterType="com.example.demo.entity.user">
        update teacher
        <set>
            <if test="password!=null">TeacherPassword=#{password}</if>
        </set>
        where TeacherNo=#{id}
    </update>

</mapper>